.container {
  display: grid;
  grid-template-columns: 33px 1fr 288px;
  align-items: start;
  gap: 24px;
}

.input-container {
  display: grid;
  gap: 8px;
}

.sidebar {
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid var(--color-light-neutral-border);
  margin-top: 24px;
  padding-top: 24px;
}
