.dropdown-panel {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.container {
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: var(--color-light-neutral-background-strong);
	border: 1px solid var(--color-light-neutral-border);
	border-radius: 16px;
}
