.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94px;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  padding: 0 24px;
}

.container svg:hover {
  cursor: pointer;
}
