.TagStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 4px;
  border-radius: 50px;
  height: 32px;
  width: fit-content;
}

.solidColor {
  color: var(--color-light-accent-text);
}

.outlineColor {
  color: var(--color-light-neutral-text-weak);
}

.outlineBgColor {
  background-color: var(--color-light-neutral-background);
  border: 1px solid var(--color-light-neutral-border);
}
