.BtnStyle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.BtnColorBlue {
	background-color: var(--color-light-accent-background);
	color: var(--color-light-accent-text);
}

.BtnOutlineColorBlue {
	background-color: rgba(var(--color-light-accent-background), 0);
	border: 1px solid var(--color-light-accent-background);
	color: var(--color-light-accent-background);
}

.BtnColorBlack {
	background-color: var(--color-light-accent-background-strong);
	color: var(--color-light-accent-text);
}

.BtnOutlineColorBlack {
	background-color: rgba(var(--color-light-accent-background-strong), 0);
	border: 1px solid var(--color-light-accent-background-strong);
	color: var(--color-light-neutral-text);
}

.BtnSizeL {
	width: 240px;
	height: 56px;
	padding: 0px;
	border-radius: 16px;
	font-size: var(--typo-L-fontsize);
	line-height: var(--typo-L-lineheight);
	font-weight: var(--typo-fontweight-bold);
}

.BtnSizeM {
	width: 160px;
	height: 40px;
	padding: 0px;
	border-radius: 11px;
	font-size: var(--typo-M-fontsize);
	line-height: var(--typo-M-lineheight);
	font-weight: var(--typo-fontweight-bold);
}

.BtnSizeS {
	width: 120px;
	height: 40px;
	padding: 0px;
	border-radius: 11px;
	font-size: var(--typo-S-fontsize);
	line-height: var(--typo-S-lineheight);
	font-weight: var(--typo-fontweight-bold);
}

.BtnStyleContained {
	border: 1px solid;
}

.BtnStyleGhost {
	padding: 0px 24px;
	background-color: rgba(var(--color-light-accent-background), 0);
	border: 1px solid rgba(var(--color-light-accent-background), 0);
	color: var(--color-light-neutral-text-strong);
}

.BtnStatusDefault {
	opacity: 100%;
}

.BtnStatusHover {
	opacity: 80%;
}

.BtnStatusPress {
	opacity: 64%;
}

.BtnStatusDisabled {
	opacity: 32%;
}

.BtnStatusActive {
	background-color: var(--color-light-neutral-background);
}
