.tab {
	display: flex;
	border: 1px solid var(--color-light-neutral-border);
	width: fit-content;
	border-radius: 11px;
}

.tab button:first-child {
	border-right: 1px solid var(--color-light-neutral-border);
	border-radius: 11px 0 0 11px;
}

.tab button:last-child {
	border-radius: 0 11px 11px 0;
}

.tab button:hover {
	cursor: pointer;
}
