.element {
  display: flex;
  flex-direction: column;
  height: 125px;
  border: 1px solid var(--color-light-neutral-border);
  border-radius: 16px;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  background: var(--color-light-neutral-background);
  border-radius: 16px 16px 0px 0px;
  height: 64px;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.write {
  display: flex;
  align-items: center;
  gap: 18px;
}

.edit {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.body {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background: var(--color-light-neutral-background-strong);
  border-radius: 0px 0px 16px 16px;
  height: 60px;
}

.writerNameText {
  color: var(--color-light-neutral-text-strong);
  font-size: var(--typo-M-fontsize);
  line-height: var(--typo-M-lineheight);
  font-weight: var(--typo-fontweight-regular);
}

.elapsedTimeText {
  font-size: var(--typo-M-fontsize);
  line-height: var(--typo-M-lineheight);
  font-weight: var(--typo-fontweight-regular);
  color: var(--color-light-neutral-text-weak);
}
